<app-loader-spinner *ngIf="isLoading"></app-loader-spinner>

<button *ngIf="loggedUser" mat-raised-button color="primary" [routerLink]="'./post/create'">add post</button>

<article *ngFor="let post of posts; let i = index" fxLayout="column" fxLayoutAlign="space-around stretch">

  <mat-card class="post-card mat-elevation-z4">

    <mat-card-header>
      <mat-card-title>
        <a [routerLink]="'./post/' + post.url">{{ post.title }}</a>
      </mat-card-title>
      <mat-card-subtitle>
        {{ post.dateCreated.toDate() | date:'d MMMM yyyy' }}
      </mat-card-subtitle>
      <mat-card-subtitle *ngIf="post.dateEdited" class="edited-subtitle">
        Edited on {{ post.dateEdited.toDate() | date:'d MMMM yyyy' }}
      </mat-card-subtitle>
    </mat-card-header>

    <img
      mat-card-image
      [src]="post.imageUrl"
      alt="thumbnail"
      (load)="isLoading = false"
      (error)="isLoading = false">

    <mat-card-content>
      <p>
        {{ post.description }}
      </p>
    </mat-card-content>

    <mat-card-actions>
      <button fxFlex="grow" mat-flat-button color="primary" [routerLink]="'./post/' + post.url">READ</button>
    </mat-card-actions>

    Tags: <span *ngFor="let tag of post.tags">
          <a class="tag" [routerLink]="'/blog/tag/' + tag">{{ tag }}</a>
      </span>

  </mat-card>

</article>

<br>

<div class="pagination" fxLayout="row" fxLayoutAlign="space-around center">
  <button
    mat-icon-button
    color="primary"
    [disabled]="pageNumber === 1"
    (click)="onPreviousPage()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  Page {{ pageNumber }}
  <button
    mat-icon-button
    color="primary"
    (click)="onNextPage()"
    [disabled]="nextPageButtonDisabled || posts.length < pageSize">
    <mat-icon>arrow_forward</mat-icon>
  </button>
</div>

<br>
