<app-loader-spinner *ngIf="isLoading"></app-loader-spinner>

<div class="button-wrapper">
  <button *ngIf="loggedUser"
          mat-raised-button
          color="accent"
          [routerLink]="'./post/create'">Create
  </button>
</div>

<article *ngFor="let post of posts; let i = index">

  <mat-card class="post-card mat-mdc-elevation-specific mat-elevation-z8">

    <mat-card-header>
      <mat-card-title>
        <a [routerLink]="'./post/' + post.url">{{ post.title }}</a>
      </mat-card-title>
      <mat-card-subtitle>
        {{ post.dateCreated.toDate() | date:'d MMMM yyyy' }}
      </mat-card-subtitle>
      <mat-card-subtitle *ngIf="post.dateEdited" class="edited-subtitle">
        Edited on {{ post.dateEdited.toDate() | date:'d MMMM yyyy' }}
      </mat-card-subtitle>
    </mat-card-header>

    <div class="img-wrapper">
      <img
        mat-card-image
        [src]="post.imageUrl"
        alt="thumbnail"
        (load)="isLoading = false"
        (error)="isLoading = false">
    </div>

    <mat-card-content>
      <p>
        {{ post.description }}
      </p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-flat-button color="primary" [routerLink]="'./post/' + post.url">READ</button>
    </mat-card-actions>

    <div class="tags-content">
      <span *ngFor="let tag of post.tags">
        <a class="tag" [routerLink]="'/blog/tag/' + tag">{{ tag }}</a>
      </span>
    </div>

  </mat-card>

</article>

<br>

<div class="pagination">
  <button mat-icon-button
          color="primary"
          [disabled]="pageNumber === 1"
          (click)="onPreviousPage()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>
    Page {{ pageNumber }}
    <mat-icon #tooltip="matTooltip"
              matTooltipPosition="right"
              (click)="tooltip.toggle()"
              color="primary"
              matTooltip="Grayed-out arrow means unavailability">
      info
    </mat-icon>
  </span>
  <button mat-icon-button
          color="primary"
          (click)="onNextPage()"
          [disabled]="nextPageButtonDisabled || posts.length < pageSize">
    <mat-icon>arrow_forward</mat-icon>
  </button>
</div>

<br>
