@import "~src/scss/abstracts/_abstracts-dir";

header {
  position: sticky;
  top: 0;
  z-index: 10;
  backdrop-filter: blur(3px);

  @-moz-document url-prefix() {
    background: rgba(248, 248, 255, .9);
  }

  .blyzniuk-dev-wrapper {
    font-family: 'Azeret Mono', monospace;
    font-size: 25px;
    padding: 40px;

    .blyzniuk-dev-heading {
      @-moz-document url-prefix() {
        background-color: transparent !important;
        padding: 0;
      }
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }

    &:hover {
      cursor: pointer;
    }
  }

  @media (min-width: $medium) {
    font-size: 40px;
  }

  .menu-router-link {
    text-decoration: none;
    padding: 40px;
    font-size: 20px;
    font-family: 'Cutive', serif;
    text-stroke: 3px ghostwhite;

    .router-link-word {
      padding: 5px;
      background-color: #becee5;

      @-moz-document url-prefix() {
        background-color: transparent !important;
        padding: 0;
      }
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }

    &:hover {
      cursor: pointer;
    }

    @media (min-width: $small) {
      padding: 40px 20px;
    }

    @media (min-width: $medium) {
      padding: 40px 20px;
      font-size: 25px;
    }
  }

  .mat-icon-menu {
    transform: scale(1.75);
    margin-right: 40px;

    @-moz-document url-prefix() {
      background: transparent !important;
    }
  }
}
