<div class="about-wrapper">

  <div class="about-content mat-mdc-elevation-specific mat-elevation-z8">

    <h1>Serverless SPA with BaaS</h1>
    <p>
      Which means this one is a plain single page application with out any real back-end coupled.
      Angular 12 is used as binding framework.
      On the other hand I am getting no-sql database, authentication, storage and hosting from Firebase.
      Sweet combination of both provides fine development and solid scalability.
    </p>
    <p>
      Here I am using lots of Angular concepts like Reactive Forms, Routing, Animations, Services, Reusable Components,
      Angular CLI, Lazy Loading and many others.
      Another exciting and useful nowadays feature is Reactive Programming paradigm.
      In Angular application it is achieved with RxJs library.
    </p>
    <p>
      Some solutions of this application may be done in more elegant way, so there is some technical debt
      I am going to repay in a while. Also I want to dive deeper into NgRx, Angular Animation, Testing,
      CI/CD, Angular-Material Theming, i18n, enhancement of the project structure,
      Scss optimization etc. and apply those here. Everything will be described in blog posts.
    </p>
    <p>
      Code of this website may be found at my GitHub page. If you would like to ask me about this application,
      report a bug or just give me some advice, feel free to use contact form in appropriate section.
    </p>

  </div>

</div>

