.auth-wrapper {
  padding: 10px;
  font-family: 'Cutive', serif;

  .auth-content {
    background: ghostwhite;
    padding: 20px;

    .mat-icon {
      cursor: pointer;
    }

    .auth-form {
      width: 100%;

      .mat-form-field {
        min-width: 300px;
        max-width: 800px;
      }
    }
  }
}
