<app-loader-spinner *ngIf="isLoading"></app-loader-spinner>
<div class="tags-wrapper">

  <div class="tags-content" fxLayout="column" fxLayoutAlign="space-around center">

    <div class="heading" fxLayout="column" fxLayoutAlign="center">
      <h1>Posts with tag: <b>{{ tag }}</b></h1>
    </div>

    <div class="tags-loop"
         fxLayout="column"
         fxLayoutAlign="space-around stretch"
         fxLayout.gt-sm="row wrap"
         fxLayoutAlign.gt-sm="start stretch">
      <div fxFlex="33" *ngFor="let post of posts">
        <mat-card class="post-card mat-elevation-z8">

          <mat-card-header>
            <mat-card-title>
              <a [routerLink]="'/blog/post/' + post.url">{{ post.title }}</a>
            </mat-card-title>
            <mat-card-subtitle>
              {{ post.dateCreated.toDate() | date:'d MMMM yyyy' }}
            </mat-card-subtitle>
            <mat-card-subtitle *ngIf="post.dateEdited" class="edited-subtitle">
              Edited on {{ post.dateEdited.toDate() | date:'d MMMM yyyy' }}
            </mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p>
              {{ post.description }}
            </p>
          </mat-card-content>

          <mat-card-actions>
            <button mat-raised-button fxFlex="grow" color="primary" [routerLink]="'/blog/post/' + post.url">READ
            </button>
          </mat-card-actions>

          <div class="tags-content">
            <span *ngFor="let tag of post.tags">
              <a class="tag" [routerLink]="'/blog/tag/' + tag">{{ tag }}</a>
            </span>
          </div>

        </mat-card>
      </div>
    </div>
  </div>
</div>
