<app-loader-spinner *ngIf="isLoading"></app-loader-spinner>
<div *ngIf="post">
  <div *ngIf="loggedUser">
    <button mat-raised-button color="primary" (click)="onEditPost()">edit post</button>
    <button mat-raised-button color="primary" (click)="onDeletePost()">delete post</button>
  </div>
  <p>Post:</p>
  <p>Author: {{ post.author }}</p>
  <p>Title: {{ post.title }}</p>
  <div>Content:
    <div [innerHTML]="post.content | sanitizeHtml"></div>
  </div>
  <p>Created: {{ post.dateCreated.toDate() | date:'d MMMM yyyy' }}</p>
  <p *ngIf="post.dateEdited">Edited: {{ post.dateEdited.toDate() | date:'d MMMM yyyy' }}</p>
  <p>Tags:
    <span *ngFor="let tag of post.tags">
      <a [routerLink]="'/blog/tag/' + tag">{{ tag }}</a>
  </span>
  </p>
</div>
