<app-loader-spinner *ngIf="isLoading"></app-loader-spinner>
<div *ngIf="post">
  <div *ngIf="loggedUser">
    <button mat-raised-button color="primary" (click)="onEditPost()">edit post</button>
    <button mat-raised-button color="primary" (click)="onDeletePost(post.title)">delete post</button>
  </div>
  <p>Post:</p>
  <p>Author: {{ post.author }}</p>
  <img [src]=post.imageUrl alt="thumbnail" (load)="isLoading = false" (error)="isLoading = false">
  <p>Title: {{ post.title }}</p>
  <quill-view-html [content]="post.content" format="text" theme="snow"></quill-view-html>
  <p>Created: {{ post.dateCreated.toDate() | date:'d MMMM yyyy' }}</p>
  <p *ngIf="post.dateEdited">Edited: {{ post.dateEdited.toDate() | date:'d MMMM yyyy' }}</p>
  <p>Tags:
    <span *ngFor="let tag of post.tags">
      <a [routerLink]="'/blog/tag/' + tag">{{ tag }}</a>
  </span>
  </p>
</div>
