@font-face {
  font-family: Azeret Mono;
  src: url(~src/assets/fonts/Azeret_Mono/AzeretMono-VariableFont_wght.ttf) format("opentype");
}

@font-face {
  font-family: Cutive;
  src: url(~src/assets/fonts/Cutive/Cutive-Regular.ttf) format("opentype");
}

@font-face {
  font-family: Merriweather;
  src: url(~src/assets/fonts/Merriweather/Merriweather-Regular.ttf) format("opentype");
}

@font-face {
  font-family: CormorantInfant;
  src: url(~src/assets/fonts/CormorantInfant/CormorantInfant-Regular.ttf) format("opentype");
}
