.navbar {
  overflow: hidden;
  background-color: #007bab;
}

.navbar span {
  text-decoration: none;
  float: left;
  padding: 25px;
  font-size: 25px;
  display: inline;
}
.navbar span:hover {
  cursor: pointer;
}

.router-content {
  padding: 10vh;
  text-align: center;
}
