@import "~src/scss/abstracts/_abstracts-dir";

.app-wrapper {
  position: relative;
  min-height: 100%;

  header {
    background-color: #007bab;
    position: sticky;
    top: 0;
    z-index: 10;

    span {
      text-decoration: none;
      padding: 25px;
      font-size: 20px;
    }

    :hover span {
      cursor: pointer;
    }

    .mat-icon-menu {
      padding: 25px;
    }
  }

  section {
    padding: 10px 0 70px;
  }

  .scroll-top-button {
    position: fixed;
    bottom: 60px;
    right: 25px;

    @media (min-width: $medium) {
      bottom: 10%;
      right: 5%;
    }
  }

  footer {
    background: #007bab;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;

    p {
      margin: 0;
    }
  }
}
