@import "scss/abstracts/_abstracts-dir";

.app-wrapper {
  position: relative;
  min-height: 100%;

  header {
    position: sticky;
    top: 0;
    z-index: 10;
    backdrop-filter: blur(3px);
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center space-between;
    align-items: center;

    @media (max-width: $small) {
      flex-direction: column;
    }

    .home-phone-screen {
      height: 100%;
      width: 100%;
    }
    @media (max-width: $small) {
      .home-phone-screen {
        flex-direction: row;
        place-content: center space-between;
        align-items: center;
        box-sizing: border-box;
        display: flex;

        .blyzniuk-dev-wrapper {
          max-width: 25%;
          margin-left: 5%;
        }
      }
    }

    .rest-menu {
      flex-direction: row;
      box-sizing: border-box;
      display: flex;
    }

    @media (max-width: $small) {
      .rest-menu {
        flex-direction: column;
      }
    }

    @-moz-document url-prefix() {
      background: rgba(248, 248, 255, .9);
    }

    .blyzniuk-dev-wrapper {
      font-family: 'Azeret Mono', monospace;
      font-size: 25px;
      padding: 40px;
      margin-left: 5%;

      .blyzniuk-dev-heading {
        @-moz-document url-prefix() {
          background-color: transparent !important;
          padding: 0;
        }
      }

      &:focus {
        outline: none;
        box-shadow: none;
      }

      &:hover {
        cursor: pointer;
      }
    }

    @media (min-width: $medium) {
      font-size: 40px;
    }

    .menu-router-link {
      text-decoration: none;
      padding: 40px;
      font-size: 20px;
      font-family: 'Cutive', serif;
      text-stroke: 3px ghostwhite;

      .router-link-word {
        padding: 5px;
        background-color: #becee5;

        @-moz-document url-prefix() {
          background-color: transparent !important;
          padding: 0;
        }
      }

      &:focus {
        outline: none;
        box-shadow: none;
      }

      &:hover {
        cursor: pointer;
      }

      @media (min-width: $small) {
        padding: 40px 20px;
      }

      @media (min-width: $medium) {
        padding: 40px 20px;
        font-size: 25px;
      }
    }

    .mat-icon-menu {
      transform: scale(1.75);
      margin-right: 40px;

      @-moz-document url-prefix() {
        background: transparent !important;
      }
    }
  }
}
