<div class="app-wrapper">
  <header class="navbar"
          fxLayout="row"
          fxLayout.xs="column"
          fxLayoutAlign="space-between"
          fxLayoutAlign.xs="space-between center">

    <div class="home-phone-screen"
         fxFill
         fxFlex.gt-xs="nogrow"
         fxLayout.xs="row"
         fxLayoutAlign.xs="space-between center">
      <span routerLink="/"
            fxFlex="25"
            fxFlexOffset="5"
            (click)="showBurger = true">blyzniuk.dev</span>

      <div *ngIf="isPhoneScreen">
        <mat-icon class="mat-icon-menu"
                  *ngIf="showBurger; else closeIcon"
                  (click)="toggleMenu()">menu
        </mat-icon>
        <ng-template #closeIcon>
          <mat-icon class="mat-icon-menu" (click)="toggleMenu()">close</mat-icon>
        </ng-template>
      </div>
    </div>

    <div class="rest-menu"
         *ngIf="!isPhoneScreen || !showBurger"
         (click)="showBurger = true"
         fxLayout="row"
         fxLayout.xs="column">
      <span routerLink="/blog">BLOG</span>
      <span routerLink="/contact">CONTACT</span>
      <span routerLink="/about">ABOUT</span>
    </div>

  </header>

  <section
    class="router-content"
    fxLayout="column"
    fxLayoutAlign="space-around center">
    <router-outlet></router-outlet>
  </section>

  <footer fxLayout="row"
          fxLayout.xs="column"
          fxLayoutAlign="space-evenly center"
          fxLayoutAlign.xs="space-evenly center">
    <p>© Copyright 2021 Blyzniuk Yevhen</p>
    <p>Privacy policy</p>
  </footer>

</div>
