<div class="app-wrapper">
  <header class="navbar mat-elevation-z8"
          fxLayout="row"
          fxLayout.xs="column"
          fxLayoutAlign="space-between center"
          fxLayoutAlign.xs="space-between center">

    <div class="home-phone-screen"
         fxFill
         fxFlex.gt-xs="nogrow"
         fxLayout.xs="row"
         fxLayoutAlign.xs="space-between center">
      <span class="blyzniuk-dev"
            routerLink="/"
            fxFlex="25"
            fxFlexOffset="5"
            (click)="showBurger = true">blyzniuk.dev</span>

      <div *ngIf="isPhoneScreen">
        <mat-icon class="mat-icon-menu"
                  *ngIf="showBurger; else closeIcon"
                  (click)="toggleMenu()">menu
        </mat-icon>
        <ng-template #closeIcon>
          <mat-icon class="mat-icon-menu" (click)="toggleMenu()">close</mat-icon>
        </ng-template>
      </div>
    </div>

    <div class="rest-menu"
         *ngIf="!isPhoneScreen || !showBurger"
         (click)="showBurger = true"
         fxLayout="row"
         fxLayout.xs="column">
      <span routerLink="/blog">blog</span>
      <span routerLink="/contact">contact</span>
      <span routerLink="/about">about</span>
    </div>

  </header>

  <section
    class="router-content"
    fxLayout="column"
    fxLayoutAlign="space-around center">
    <router-outlet></router-outlet>
  </section>

  <button
    *ngIf="showUpButton"
    class="scroll-top-button"
    mat-fab
    color="primary"
    (click)="scrollTop()">
    <mat-icon>north</mat-icon>
  </button>

  <footer class="mat-elevation-z8"
          fxLayout="row"
          fxLayout.xs="column"
          fxLayoutAlign="space-evenly center"
          fxLayoutAlign.xs="space-evenly center">
    <p>© Copyright 2021 Blyzniuk Yevhen</p>
    <p><a [routerLink]="'privacy'">Privacy policy</a></p>
  </footer>

</div>
