.mat-dialog-container {
  overflow-x: hidden;
  padding: 0;
}

.mat-dialog-content {
  padding: 15px;
  margin: 0;
}

mat-toolbar-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.confirm-dialog-buttons {
  display: flex;
  justify-content: end;
  align-items: center;
}
