<mat-toolbar class="mat-primary">

  <mat-toolbar-row>
    <span>
       Confirm your action
    </span>
    <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>

</mat-toolbar>

<div mat-dialog-content>
  <h3>{{confirmMessage}}</h3>
</div>

<div class="confirm-dialog-buttons" mat-dialog-actions>
  <button mat-raised-button
          (click)="matDialogRef.close(false)">
    No
  </button>

  <button mat-raised-button
          color="primary"
          (click)="matDialogRef.close(true)">
    Yes
  </button>
</div>
