@import "scss/abstracts/_abstracts-dir";

.contact-wrapper {
  font-family: 'Cutive', serif;

  .contact-page {
    padding: 20px;
    background: ghostwhite;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;

    .contact-methods {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      gap: 10px;

      @media (min-width: $medium) {
        flex-direction: row;
      }

      .socials {
        display: flex;
        gap: 5px;
        justify-content: space-around;
        align-items: center;

        @media (min-width: $medium) {
          flex-direction: column;
        }
      }

      form {
        display: flex;
        flex-direction: column;
      }
    }

    @media (min-width: $small) {
      padding: 30px;
    }

    h1 {
      text-align: center;
    }

    section {
      padding: 10px;

      @media (min-width: $small) {
        width: 35vw;
      }

      img {
        max-height: 13vw;
        max-width: 13vh;

        @media (min-width: $medium) {
          max-height: 10vw;
          max-width: 10vh;
        }
      }
    }

    form {
      padding: 10px;
      background-color: rgb(109, 174, 214, 0.3);
      width: 100%;

      @media (min-width: $medium) {
        padding: 30px;
      }

      .mat-form-field {
        width: auto !important;
        min-width: 200px;

        @media (min-width: $small) {
          width: 35vw;
          min-width: 500px;
        }
      }
    }
  }
}
