<div class="home-wrapper">

  <div class="home-content mat-mdc-elevation-specific mat-elevation-z8">

    <h1>Blyzniuk Yevhen</h1>

    <p>
      Hello, I am Software Engineer from Kyiv, Ukraine. Currently I work full-time as Fullstack Web Developer. Key
      technologies I am using at the moment are Angular and Symfony.
    </p>

    <p>
      This is my personal website I have created from scratch using Angular and Firebase. Primary purposes were
      expanding my Angular knowledge and improving front-end skills in general.
      Besides, I am always interested in learning whole structure of development process and
      related challenges.
    </p>

    <p>
      In addition, this website gives me an extra way for communication via <a [routerLink]="'/contact'">contact</a>
      page and sharing my knowledge with other developers on
      <a [routerLink]="'/blog'">blog</a>.
      You may find more details about this application in <a [routerLink]="'/about'">about</a> section.
    </p>
  </div>

</div>
