<div class="form-wrapper">

  <form [formGroup]="form" class="mat-elevation-z4">

    <div class="form-header">
      <h1 *ngIf="!post.url; else editPostHeader">Create post</h1>
      <ng-template #editPostHeader><h1>Edit post</h1></ng-template>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Author</mat-label>
      <input required matInput formControlName="author">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <input required matInput formControlName="description">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input required matInput formControlName="title">
    </mat-form-field>

    <quill-editor class="quill-editor" #editor formControlName="content"></quill-editor>

    <mat-form-field appearance="outline">
      <mat-label>Url</mat-label>
      <input required matInput formControlName="url">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Tags</mat-label>
      <input required matInput formControlName="tags">
    </mat-form-field>

    <div class="upload-content">
      <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
      <input hidden #fileInput type="file" (change)="parseImage($event)">
      <img *ngIf="selectFileEventTarget || post.imageUrl"
           [src]="parsedImage || post.imageUrl"
           alt="thumbnail"
           width="150"
           height="150">
      <button *ngIf="selectFileEventTarget"
              (click)="uploadDescriptionImage()"
              color="warn"
              mat-raised-button>Upload image
      </button>
    </div>

  </form>

  <div class="form-buttons">
    <button *ngIf="!post.url"
            mat-raised-button
            color="accent"
            [disabled]="form.invalid"
            (click)="createPost()">Create
    </button>
    <button *ngIf="post.url"
            mat-raised-button
            color="accent"
            [disabled]="form.invalid || form.pristine"
            (click)="editPost()">Edit
    </button>
  </div>
</div>
