<div class="notfound-wrapper">

  <div class="notfound-wrapper-content mat-elevation-z8">

    <div class="notfound-headings"
         fxLayout="row"
         fxLayoutAlign="space-evenly center"
         fxLayoutGap="30px">
      <h1>404</h1>
      <h2 fxFlex="50">Page does not exist or you are not authorized to see it</h2>
    </div>

    <p>Consider getting back <a [routerLink]="''">home</a>,
      reading some posts on my <a [routerLink]="'/blog'">blog</a>,
      getting in touch with me through <a [routerLink]="'/contact'">contact</a> page or
      finding out more about this web-application in <a [routerLink]="'/about'">about</a> section
    </p>

  </div>

</div>
